#YoutubeList{

    .grid-tile{ 
      cursor: pointer; 
      opacity: 0.95; 
    }
    
    .grid-tile:hover{ 
      opacity: 0.7; 
    }

    overflow-y: hidden; // hide vertical
    
    //to do
    //tab, click then ripple effect
    //Title or description marquee (text moving left) effect
}
